@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply box-border p-0 m-0
}
section{
  @apply w-screen h-screen bg-[green] grid place-items-center 
}
.imgWrapper img{
  transition: all 0.8s linear;
  @apply w-[30rem] h-[30rem] hover:scale-[1.1] 
}
.imgs{
  @apply w-[30rem] h-[30rem] overflow-x-hidden overflow-y-hidden
}
figcaption{
  @apply text-center text-[1.2rem] text-[#a79a9a]
}
button{
  transition: all 0.2s linear;
  @apply  px-2 text-[2rem] h-[5rem]  
}
span{
  border-left: 1.5rem solid black;
  border-top: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  display: block;
  transition: all 0.2s linear;

}
button:hover span{
  border-left: 1.5rem solid white;

}
button:first-of-type span{
  border-right: 1.5rem solid black;
  border-top: 1.5rem solid transparent;
  border-left: 0rem solid white;
  display: block;
}
button:first-of-type:hover span{
  border-right: 1.5rem solid white;
}


 h1{
  background: linear-gradient(180deg, red,rgb(100, 7, 221), yellow);
    @apply text-[antiquewhite] text-[2.5rem] text-transparent bg-clip-text 
} 

